/* ------------Services----------- */
.card {
    border-radius: 10px;
    box-shadow: 0 100px 60px rgba(0, 0, 0, 0.05);
}
.card:hover {
    box-shadow: 0 10px 80px rgba(0, 0, 0, 0.09);
}
.card-title {
    font-weight: bold;
}
