.footer {
    background: linear-gradient(183.41deg, #051c29 -8.57%, #0e2d5c 82.96%);
}
.list {
    font-size: 13px;
    list-style: none;
    padding: 0;
}
.list li:hover {
    cursor: pointer;
    transition: 0.3s;
    color: rgb(134, 131, 131);
}
