/* google foonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Volkhov";
}
h1 {
    font-weight: 600;
}
.button {
    padding: 7px 25px;
    background-color: #458ff6;
}
